div {
    width: 600px;
    height: 300px;
    display: inline-block;
    margin: 20px 20px 0;
}

.repeating-simple {
    background: repeating-linear-gradient(
        black 100px,
        white 120px
    );
}

.repeating-stop {
    background: repeating-linear-gradient(
        white,
        white 20px,
        black 20px,
        black 40px
    );
}

.repeating-multiple {
    background:
        repeating-linear-gradient(
            to right,
            transparent,
            transparent 10px,
            black 10px,
            black 20px
        ),
        repeating-linear-gradient(
            white,
            white 10px,
            black 10px,
            black 20px
        );
}

.repeating-circle {
    background: repeating-radial-gradient(
        100px,
        white,
        white 10px,
        black 10px,
        black 20px
    );
}
