h1 {
    background: dodgerblue;
    width: 300px;
    height: 150px;
    display: inline;
    /* display: none; */
    /* visibility: hidden; */
}

p {
    background: yellow;
    height: 100px;
}

span {
    background: green;
    width: 50px;
    height: 150px;
    display: inline-block;
}
