/* 1 */
h1 {
    color: red;
}

/* 10 */
.title {
    color: green;
}

/* 1 + 10 = 11 */
h1.title {
    color: yellow;
}

/* 100 */
#title {
    color: blue;
}

/* 1 + 100 = 101 */
h1#title {
    color: pink;
}

/* 1 + 10 + 100 = 111 */
h1.title#title {
    color: purple;
}

/* 1 + 1 + 10 + 100 = 112 */
body h1.title#title {
    color: orange;
}
